html
    head
        style
            include style.css
        title= "Discord Players Informations - FiveM"
    body
        h1="Discord Bot to received a players informations from FiveM Server - by WhyNoT"
